{% extends "main/base.html" %}

{% block content %}
<br>
<div class="login_div">
  {% if form.errors %}
    <h5>Неправильный логин или пароль</h5>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <h5>Вы не имеете прав для просмотра данной страницы</h5>
    {% else %}
      <h5>Войдите чтобы посмотреть данную страницу.</h5>
        <br>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>

  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>

  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
  </table>
      <br>
  <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
  <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{% endblock %}